:root {
    --main-text-color:  #212121;
    --second-text-color: #757575;
    --main-title-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --team-background-color: #F5F4FA;
    --header-background-color: #ffffff;
    --second-background-color: #2F303A;
    --main-letter-spacing: 0.03em;
    --second-letter-spacing: 0.02em;
    --portfolio-set: 30px;
    --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
    }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: var(--main-letter-spacing);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
}

.link {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* шапка */

.header{
    background-color: var(--header-background-color);
    border-bottom: 1px solid #ECECEC;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}
.logo{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.accent{
    color: var(--accent-color);
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item{
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--second-letter-spacing);
    transition: color 250ms var(--animation-timing);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.mail-item{
    margin-right: 50px;
    width: 161px;
    height: 16px;
}

.tel-item{
    width: 142px;
    height: 16px;
}
.mail-link, .tel-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--second-letter-spacing);
    cursor: pointer;
    transition: color 250ms var(--animation-timing);
    }

    
.mail-item > .mail-link{
    width: 100%;
    height: 100%;
}
.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}
.mail-icon{
    margin-right: 10px;
    fill: currentColor;
}
.tel-item > .tel-link {
    width: 100%;
    height: 100%;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* hero */

.hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(
        to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--second-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;
    color: var(--main-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    position: relative;
    display: inline-block;
    padding: 10px 32px;
    height: 50px;
    cursor: pointer;
    color: var(--main-title-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--animation-timing), box-shadow 250ms var(--animation-timing);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
}

/* sections */

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title{
    margin-bottom: 50px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}

/* features */

.section-features{
    display: none;
}
.features{
    display: flex;
}

.features .item + .item{
    margin-left: 30px;
}

.features-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features-icon{
    width: 70px;
    height: 70px;
}

.features-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text{
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* working */

.no-padding-top{
padding-top: 0;
}

.working{
    display: flex;
}
.working .item{
    display: block;
}
.working .item + .item{
    margin-left: 30px;
}
.working-wrap{
    position: relative;
}

.working-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--main-letter-spacing);

    color: var(--header-background-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-background-color);
    }

.team-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
}
.team-list{
    display: flex;
}

.team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item{
    margin-left: 30px;
}

.team-container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-hero{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}

.team-text{
    margin-bottom: 16px;
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.soc-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    cursor: pointer;
}
.soc-item:last-child{
    margin-right: 0;
}
.soc-link{
    width: 100%;
    height: 100%;
    background-color:var(--header-background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: color 250ms var(--animation-timing), background-color 250ms var(--animation-timing);
}

.soc-icon{
    fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--accent-color);
    color: var(--header-background-color);
}

/* Постоянные клиенты */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item{
    margin-right: var(--portfolio-set);
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: border-color 250ms var(--animation-timing);
}
.clients-item:last-child {
    margin-right: 0;
}

.clients-item:hover,
.clients-item:focus {
    border-color: var(--accent-color);
}

.clients-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms var(--animation-timing),
    border-color 250ms var(--animation-timing);
}

.clients-icon{
fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* footer */

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--second-background-color);
}
.footer-links {
    display: flex;
    align-items: baseline;
}

.logo-link{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--main-title-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.accent {
    color: var(--accent-color);
}

.footer-adress{
    margin-bottom: 9px;
}
.adress{
    display: inline-block;
    font-style: normal;
    color: var(--main-title-color);
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms var(--animation-timing);
}

.adress:hover,
.adress:focus {
    color: var(--accent-color);
}

.footer-mail{
    margin-bottom: 9px;
}
.contact-mail{
    display: inline-block;
    font-style: normal;
    color: var(--contact-text-color);
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms var(--animation-timing);
} 

.contact-tel {
    display: inline-block;
    font-style: normal;
    color: var(--contact-text-color);
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms var(--animation-timing);
}

.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus{
    color: var(--accent-color);
}

/* Присоединяйтесь */

.join{
    margin-left: 70px;
}

.join-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--main-letter-spacing);
    text-transform: uppercase;
    color: var(--header-background-color);
}

.join-list {
    display: flex;
}

.join-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    cursor: pointer;
}

.join-item:last-child {
    margin-right: 0;
}

.join-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-background-color);
    transition: background-color 250ms var(--animation-timing);
}
.join-icon {
    fill: currentColor;
}

.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}

/* Подпишитесь на рассылкy */

.newsletter {
    margin-left: 93px;;
}

.mail-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: var(--main-letter-spacing);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms var(--animation-timing);
}

.mail-input:focus {
    border-color: var(--accent-color);
}

.mail-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: var(--main-letter-spacing);
}

.btn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-send {
    fill: currentColor;
    margin-left: 10px;
}

/* --------------------МОДАЛКА */

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.476);
    position: fixed;
    top: 0;
    transition: opacity 400ms, visibility 400ms;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    padding: 40px;
    background: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 400ms;
}

.close-icon{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.no-scroll {
    overflow: hidden;
}

.modal-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: var(--main-letter-spacing);
    color: var(--main-text-color);
}

textarea{
    resize: none;
}

form{
    width: 448px;
    text-align: center;
}

.form-field{
   display: block;
   position: relative;
   margin-bottom: 20px;
}

.form-label{
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms var(--animation-timing);
}

.form-input:focus {
    border-color: var(--accent-color);
}

.form-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transition: color 250ms var(--animation-timing);
}

.form-comment{
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms var(--animation-timing);
}

.form-input:focus+.form-icon {
    fill: var(--accent-color);
}

.form-comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus{
    border-color: var(--accent-color);
}
.check-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--main-letter-spacing);
    color: var(--second-text-color);
}

.icon-wrap{
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 3px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--animation-timing);
}

.check-icon {
    fill: transparent;
}

.checkbox:checked+.icon-wrap {
    background-color: var(--accent-color);
    border: none;
}
.checkbox:checked+.icon-wrap .check-icon{
    fill: #ffffff;
}

.checkbox:focus+.icon-wrap {
    border-color: var(--accent-color);
}

.check-text a{
    color: var(--accent-color);
}

.submit{
    padding: 10px 55px;
}

/* portfolio */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-title {
    display: none;
}

.filtres-list {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.filtres-item+.filtres-item {
    margin-left: 8px;
}

.btn-filtres {
    display: inline-block;
    padding: 6px 22px;
    background-color: var(--team-background-color);
    color: var(--main-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: color 250ms var(--animation-timing), 
    background-color 250ms var(--animation-timing),
    box-shadow 250ms var(--animation-timing);
}

.btn-filtres:hover,
.btn-filtres:focus {
    background-color: var(--accent-color);
    color: var(--main-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--portfolio-set));
    margin-top: calc(-1 * var(--portfolio-set));
}

.work-item {
    flex-basis: calc(100%/3 - var(--portfolio-set));
    margin-left: var(--portfolio-set);
    margin-top: var(--portfolio-set);
    background-color: var(--header-background-color);
    transition: background-color 250ms var(--animation-timing)
}

.card {
    transition: box-shadow 250ms var(--animation-timing);
}

.card:hover,
.card:focus {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card-text{
    transform: translateY(0);
}

.work-wrap{
    position: relative;
    overflow: hidden;
}

.card-text{
    position: absolute;
    top: 0;
    padding: 63px 24px;
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms var(--animation-timing);
}

.work-content {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.work {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.work-text {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.9;
}