.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__box {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.footer-adress {
    margin-bottom: 9px;
}

.address__item {
    font-style: normal;
    font-size: var(--primary-font-size);
    line-height: 1.71;
    color: var(--light-text-color);
    transition: color 250ms var(--animation-timing);

:not(:last-child) {
        margin-bottom: 9px;
    }
}


.address__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--animation-timing);

    &--white {
            color: var(--light-text-color);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.join__caption {
    margin-left: 70px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: var(--main-letter-spacing);
    text-transform: uppercase;
    color: var(--header-background-color);
}