.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 20px;
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    @include font (26px, 700, 1.19px);
    color: var(--accent-color);

    &__accent--light {
            color: var(--light-text-color);
        }

    &__accent--dark {
        color: #000000;
    }
}

